/* Main app background */
.stApp {
    /* background-color: green !important; */
    background-image: linear-gradient(to right, #0f0c29 , #302b63);
}

#code-buddy{
    color: white;
    text-align: center;
}

/* Inner containers */
[data-testid="stAppViewContainer"] {
    /* background-color: green !important; */
    background-image: linear-gradient(to right, #0f0c29 , #302b63);
}

[data-testid="stHeader"] {
    background-color: transparent !important;
}

[data-testid="stToolbar"] {
    right: 2rem;
}

/* Remove white blocks */
.block-container {
    /* background-color: green !important; */
    background-image: linear-gradient(to right, #0f0c29 , #302b63);
    padding-top: 1rem !important;
}


/* Panels */
section.main > div {
    background-color: #0f1117;
}

/* Headers */
h1, h2, h3, h4 {
    color: #f0f6fc;
    font-weight: 600;
}

/* Buttons */
.stButton > button {
    background-color: #1f6feb;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 0.4rem 0.8rem;
    transition: all 0.2s ease;
}

.stButton > button:hover {
    background-color: #388bfd;
    transform: translateY(-1px);
}

/* Textarea */
textarea {
    background-color: #161b22 !important;
    color: #e6edf3 !important;
    border-radius: 8px !important;
    border: 1px solid #30363d !important;
}

/* Radio buttons */
div[role="radiogroup"] label {
    /* background: #020617; */
    background: none;;
    padding: 6px 10px;
    border-radius: 6px;
    margin-right: 6px;
}

/* Code blocks */
pre {
    background-color: #0d1117 !important;
    border: 1px solid #30363d;
    border-radius: 8px;
    padding: 12px;
}

/* Success message */
.stSuccess {
    background-color: #0d2818;
    border-left: 4px solid #2ea043;
}
